In [1]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

/* Q1: Some of the facilities charge a fee to members, but some do not.
Write a SQL query to produce a list of the names of the facilities that do. */

In [18]:
def facilities_fee(conn):
    """
    Query facilities table for facilities names that charge fee to members 
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT name 
        FROM Facilities 
        WHERE membercost > 0;
        """
    cur.execute(query1)
 
    col_names = [description[0] for description in cur.description]
    print("Column Name:", col_names)
    
    rows = cur.fetchall()
 
    for row in rows:
        print(row)
        
def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("1. Query facilties that charge member fee")
        facilities_fee(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
1. Query facilties that charge member fee
Column Name: ['name']
('Tennis Court 1',)
('Tennis Court 2',)
('Massage Room 1',)
('Massage Room 2',)
('Squash Court',)

/* Q2: How many facilities do not charge a fee to members? */

In [19]:
def facilities_no_fee(conn):
    """
    Query facilities table for how many facilities do not charge fee to members 
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query2 = """
        SELECT COUNT(name) 
        FROM Facilities 
        WHERE membercost = 0;
        """
    cur.execute(query2)
 
    col_names = [description[0] for description in cur.description]
    print("Column Name:", col_names)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)
        
def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query total number facilties that do not charge member fee")
        facilities_no_fee(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query total number facilties that do not charge member fee
Column Name: ['COUNT(name)']
(4,)

/* Q3: Write an SQL query to show a list of facilities that charge a fee to members,
where the fee is less than 20% of the facility's monthly maintenance cost.
Return the facid, facility name, member cost, and monthly maintenance of the
facilities in question. */

In [4]:
def monthy_maintenance(conn):
    """
    Query facilities where member fee is less than 20% of the facility monthly maintenance cost. 
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query3 = """
        SELECT facid, 
           name AS facility_name, 
           membercost, 
           monthlymaintenance 
        FROM Facilities 
        WHERE membercost < 0.2 * monthlymaintenance;
        """
    cur.execute(query3)
    
    col_names = [description[0] for description in cur.description]
    print("Column Names:", col_names)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)
        
def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("3. Query facilities where member fee is less than 20% of the facility monthly maintenance cost")
        monthy_maintenance(conn)
 
if __name__ == '__main__':
    main()

2.6.0
3. Query facilities where member fee is less than 20% of the facility monthly maintenance cost
Column Names: ['facid', 'facility_name', 'membercost', 'monthlymaintenance']
(0, 'Tennis Court 1', 5, 200)
(1, 'Tennis Court 2', 5, 200)
(2, 'Badminton Court', 0, 50)
(3, 'Table Tennis', 0, 10)
(4, 'Massage Room 1', 9.9, 3000)
(5, 'Massage Room 2', 9.9, 3000)
(6, 'Squash Court', 3.5, 80)
(7, 'Snooker Table', 0, 15)
(8, 'Pool Table', 0, 15)

/* Q4: Write an SQL query to retrieve the details of facilities with ID 1 and 5.
Try writing the query without using the OR operator. */

In [5]:
def facid_1_5(conn):
    """
    Query facilities details of facid 1 and 5. 
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query4 = """
        SELECT *
        FROM Facilities
        WHERE facid IN (1, 5);

        """
    cur.execute(query4)
    
    col_names = [description[0] for description in cur.description]
    print("Column Names:", col_names)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)
        
def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("4. Query details of facilities with ID 1 and 5")
        facid_1_5(conn)
 
if __name__ == '__main__':
    main()

2.6.0
4. Query details of facilities with ID 1 and 5
Column Names: ['facid', 'name', 'membercost', 'guestcost', 'initialoutlay', 'monthlymaintenance']
(1, 'Tennis Court 2', 5, 25, 8000, 200)
(5, 'Massage Room 2', 9.9, 80, 4000, 3000)

/* Q5: Produce a list of facilities, with each labelled as
'cheap' or 'expensive', depending on if their monthly maintenance cost is
more than $100. Return the name and monthly maintenance of the facilities
in question. */

In [20]:
def monthly_maintenance_cost(conn):
    """
    Query facilities and categorize them as 'expensive' or 'cheap' based on their monthly maintenance cost.
    :param conn: the Connection object
    :return: None
    """
    cur = conn.cursor()
    
    query = """
        SELECT name, monthlymaintenance,
            CASE
                WHEN monthlymaintenance > 100 THEN 'expensive'
                ELSE 'cheap'
            END AS maintenance_cost_category
        FROM Facilities;
        """
    cur.execute(query)
    
    col_names = [description[0] for description in cur.description]
    print("Column Names:", col_names)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)

def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("5. Query facilities with cost over and under $100")
        monthly_maintenance_cost(conn)
 
if __name__ == '__main__':
    main()

2.6.0
5. Query facilities with cost over and under $100
Column Names: ['name', 'monthlymaintenance', 'maintenance_cost_category']
('Tennis Court 1', 200, 'expensive')
('Tennis Court 2', 200, 'expensive')
('Badminton Court', 50, 'cheap')
('Table Tennis', 10, 'cheap')
('Massage Room 1', 3000, 'expensive')
('Massage Room 2', 3000, 'expensive')
('Squash Court', 80, 'cheap')
('Snooker Table', 15, 'cheap')
('Pool Table', 15, 'cheap')

/* Q6: You'd like to get the first and last name of the last member(s)
who signed up. Try not to use the LIMIT clause for your solution. */

In [7]:
def last_member(conn):
    """
    Query member table for last member who signed up. 
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query6 = """
        SELECT firstname, surname
        FROM Members
        WHERE joindate = (SELECT MAX(joindate) FROM Members);
        """
    cur.execute(query6)
    
    col_names = [description[0] for description in cur.description]
    print("Column Names:", col_names)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)
        
def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("6. Query last member joined")
        last_member(conn)
 
if __name__ == '__main__':
    main()

2.6.0
6. Query last member joined
Column Names: ['firstname', 'surname']
('Darren', 'Smith')

/* Q7: Produce a list of all members who have used a tennis court.
Include in your output the name of the court, and the name of the member
formatted as a single column. Ensure no duplicate data, and order by
the member name. */

In [26]:
def members_tennis(conn):
    """
    Query members who have used a tennis court. 
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query7 = """
        SELECT DISTINCT 
            (m.firstname || ' ' || m.surname) AS member_name,
            f.name AS court_name
        FROM Bookings AS b
        JOIN 
            Members AS m ON b.memid = m.memid
        JOIN 
            Facilities AS f ON b.facid = f.facid
        WHERE 
            f.name LIKE 'Tennis Court%'
        ORDER BY 
            member_name;
        """
    cur.execute(query7)
    
    col_names = [description[0] for description in cur.description]
    print("Column Names:", col_names)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)
        
def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("7. Query members who have used tennis court")
        members_tennis(conn)
 
if __name__ == '__main__':
    main()

2.6.0
7. Query members who have used tennis court
Column Names: ['member_name', 'court_name']
('Anne Baker', 'Tennis Court 1')
('Anne Baker', 'Tennis Court 2')
('Burton Tracy', 'Tennis Court 2')
('Burton Tracy', 'Tennis Court 1')
('Charles Owen', 'Tennis Court 1')
('Charles Owen', 'Tennis Court 2')
('Darren Smith', 'Tennis Court 2')
('David Farrell', 'Tennis Court 1')
('David Farrell', 'Tennis Court 2')
('David Jones', 'Tennis Court 2')
('David Jones', 'Tennis Court 1')
('David Pinker', 'Tennis Court 1')
('Douglas Jones', 'Tennis Court 1')
('Erica Crumpet', 'Tennis Court 1')
('Florence Bader', 'Tennis Court 2')
('Florence Bader', 'Tennis Court 1')
('GUEST GUEST', 'Tennis Court 2')
('GUEST GUEST', 'Tennis Court 1')
('Gerald Butters', 'Tennis Court 1')
('Gerald Butters', 'Tennis Court 2')
('Henrietta Rumney', 'Tennis Court 2')
('Jack Smith', 'Tennis Court 1')
('Jack Smith', 'Tennis Court 2')
('Janice Joplette', 'Tennis Court 1')
('Janice Joplette', 'Tennis Court 2')
('Jemima Farrell', 'Tennis Court 2')
('Jemima Farrell', 'Tennis Court 1')
('Joan Coplin', 'Tennis Court 1')
('John Hunt', 'Tennis Court 1')
('John Hunt', 'Tennis Court 2')
('Matthew Genting', 'Tennis Court 1')
('Millicent Purview', 'Tennis Court 2')
('Nancy Dare', 'Tennis Court 2')
('Nancy Dare', 'Tennis Court 1')
('Ponder Stibbons', 'Tennis Court 2')
('Ponder Stibbons', 'Tennis Court 1')
('Ramnaresh Sarwin', 'Tennis Court 2')
('Ramnaresh Sarwin', 'Tennis Court 1')
('Tim Boothe', 'Tennis Court 2')
('Tim Boothe', 'Tennis Court 1')
('Tim Rownam', 'Tennis Court 2')
('Tim Rownam', 'Tennis Court 1')
('Timothy Baker', 'Tennis Court 2')
('Timothy Baker', 'Tennis Court 1')
('Tracy Smith', 'Tennis Court 1')
('Tracy Smith', 'Tennis Court 2')

/* Q8: Produce a list of bookings on the day of 2012-09-14 which
will cost the member (or guest) more than $30. Remember that guests have
different costs to members (the listed costs are per half-hour 'slot'), and
the guest user's ID is always 0. Include in your output the name of the
facility, the name of the member formatted as a single column, and the cost.
Order by descending cost, and do not use any subqueries. */

In [9]:
def bookings_2012_09_14(conn):
    """
    Query bookings on 2012-09-14 costing over $30. 
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
     
    query8 = """
        SELECT 
            f.name AS facility_name,
            CASE
                WHEN m.memid = 0 THEN 'Guest'
                ELSE m.firstname || ' ' || m.surname
            END AS member_name,
            CASE
                WHEN m.memid = 0 THEN b.slots * f.guestcost
                ELSE b.slots * f.membercost
            END AS cost
        FROM 
            Bookings AS b
        JOIN 
            Facilities AS f ON b.facid = f.facid
        LEFT JOIN 
            Members AS m ON b.memid = m.memid
        WHERE 
            b.starttime LIKE '2012-09-14%'
            AND (
            (m.memid = 0 AND b.slots * f.guestcost > 30)
            OR (m.memid != 0 AND b.slots * f.membercost > 30)
            )
        ORDER BY 
            cost DESC;
        """
    cur.execute(query8)
    
    col_names = [description[0] for description in cur.description]
    print("Column Names:", col_names)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)
        
def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("8. Query members who have used tennis court")
        bookings_2012_09_14(conn)
 
if __name__ == '__main__':
    main()

2.6.0
8. Query members who have used tennis court
Column Names: ['facility_name', 'member_name', 'cost']
('Massage Room 2', 'Guest', 320)
('Massage Room 1', 'Guest', 160)
('Massage Room 1', 'Guest', 160)
('Massage Room 1', 'Guest', 160)
('Tennis Court 2', 'Guest', 150)
('Tennis Court 1', 'Guest', 75)
('Tennis Court 1', 'Guest', 75)
('Tennis Court 2', 'Guest', 75)
('Squash Court', 'Guest', 70.0)
('Massage Room 1', 'Jemima Farrell', 39.6)
('Squash Court', 'Guest', 35.0)
('Squash Court', 'Guest', 35.0)

/* Q9: This time, produce the same result as in Q8, but using a subquery. */

In [11]:
def bookings_2012_09_14_subquery(conn):
    """
    Query bookings on 2012-09-14 costing over $30 using a subquery. 
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
     
    query9 = """
    SELECT 
        f.name AS facility_name,
        CASE
            WHEN m.memid = 0 THEN 'Guest'
            ELSE m.firstname || ' ' || m.surname
        END AS member_name,
        cost
    FROM 
        (
            SELECT 
                b.facid,
                b.memid,
                CASE
                    WHEN b.memid = 0 THEN b.slots * f.guestcost
                    ELSE b.slots * f.membercost
                END AS cost
            FROM 
                Bookings AS b
            JOIN 
                Facilities AS f ON b.facid = f.facid
            WHERE 
                b.starttime LIKE '2012-09-14%'
                AND (
                    (b.memid = 0 AND b.slots * f.guestcost > 30)
                    OR (b.memid != 0 AND b.slots * f.membercost > 30)
                )
        ) AS subquery
    JOIN 
        Facilities AS f ON subquery.facid = f.facid
    LEFT JOIN 
        Members AS m ON subquery.memid = m.memid
    ORDER BY 
        cost DESC;

        """
    cur.execute(query9)
    
    col_names = [description[0] for description in cur.description]
    print("Column Names:", col_names)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)
        
def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("9. Query members who have used tennis court")
        bookings_2012_09_14_subquery(conn)
 
if __name__ == '__main__':
    main()

2.6.0
9. Query members who have used tennis court
Column Names: ['facility_name', 'member_name', 'cost']
('Massage Room 2', 'Guest', 320)
('Massage Room 1', 'Guest', 160)
('Massage Room 1', 'Guest', 160)
('Massage Room 1', 'Guest', 160)
('Tennis Court 2', 'Guest', 150)
('Tennis Court 1', 'Guest', 75)
('Tennis Court 1', 'Guest', 75)
('Tennis Court 2', 'Guest', 75)
('Squash Court', 'Guest', 70.0)
('Massage Room 1', 'Jemima Farrell', 39.6)
('Squash Court', 'Guest', 35.0)
('Squash Court', 'Guest', 35.0)

/* Q10: Produce a list of facilities with a total revenue less than 1000.
The output of facility name and total revenue, sorted by revenue. Remember
that there's a different cost for guests and members! */

In [12]:
def total_revenue_under_1000(conn):
    """
    Query facilities with total revenue less than $1000. 
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
     
    query10 = """
    SELECT 
        f.name AS facility_name,
        SUM(
            CASE
                WHEN b.memid = 0 THEN b.slots * f.guestcost
                ELSE b.slots * f.membercost
            END
        ) AS total_revenue
    FROM 
        Bookings AS b
    JOIN 
        Facilities AS f ON b.facid = f.facid
    GROUP BY 
        f.name
    HAVING 
        total_revenue < 1000
    ORDER BY 
        total_revenue;

        """
    cur.execute(query10)
    
    col_names = [description[0] for description in cur.description]
    print("Column Names:", col_names)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)
        
def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("10. Query facilities with total revenue less than $1000")
        total_revenue_under_1000(conn)
 
if __name__ == '__main__':
    main()

2.6.0
10. Query facilities with total revenue less than $1000
Column Names: ['facility_name', 'total_revenue']
('Table Tennis', 180)
('Snooker Table', 240)
('Pool Table', 270)

/* Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order */

In [13]:
def recommended_by(conn):
    """
    Query members and who recommended them. 
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
     
    query11 = """
    SELECT 
        m.firstname || ' ' || m.surname AS member_name,
        r.firstname || ' ' || r.surname AS recommender_name
    FROM 
        Members AS m
    LEFT JOIN 
        Members AS r ON m.recommendedby = r.memid
    ORDER BY 
        m.surname, m.firstname;

        """
    cur.execute(query11)
    
    col_names = [description[0] for description in cur.description]
    print("Column Names:", col_names)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)
        
def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("11. Query members and who recommended them")
        recommended_by(conn)
 
if __name__ == '__main__':
    main()

2.6.0
11. Query members and who recommended them
Column Names: ['member_name', 'recommender_name']
('Florence Bader', 'Ponder Stibbons')
('Anne Baker', 'Ponder Stibbons')
('Timothy Baker', 'Jemima Farrell')
('Tim Boothe', 'Tim Rownam')
('Gerald Butters', 'Darren Smith')
('Joan Coplin', 'Timothy Baker')
('Erica Crumpet', 'Tracy Smith')
('Nancy Dare', 'Janice Joplette')
('David Farrell', None)
('Jemima Farrell', None)
('GUEST GUEST', None)
('Matthew Genting', 'Gerald Butters')
('John Hunt', 'Millicent Purview')
('David Jones', 'Janice Joplette')
('Douglas Jones', 'David Jones')
('Janice Joplette', 'Darren Smith')
('Anna Mackenzie', 'Darren Smith')
('Charles Owen', 'Darren Smith')
('David Pinker', 'Jemima Farrell')
('Millicent Purview', 'Tracy Smith')
('Tim Rownam', None)
('Henrietta Rumney', 'Matthew Genting')
('Ramnaresh Sarwin', 'Florence Bader')
('Darren Smith', None)
('Darren Smith', None)
('Jack Smith', 'Darren Smith')
('Tracy Smith', None)
('Ponder Stibbons', 'Burton Tracy')
('Burton Tracy', None)
('Hyacinth Tupperware', None)
('Henry Worthington-Smyth', 'Tracy Smith')

/* Q12: Find the facilities with their usage by member, but not guests */

In [14]:
def recommended_by(conn):
    """
    Query facilities usage by member. 
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
     
    query12 = """
    SELECT f.name AS facility_name, 
       COUNT(b.slots) AS member_usage 
    FROM Facilities AS f 
    JOIN Bookings AS b ON f.facid = b.facid 
    WHERE b.memid != 0 
    GROUP BY f.name;
        """
    cur.execute(query12)
    
    col_names = [description[0] for description in cur.description]
    print("Column Names:", col_names)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)
        
def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("12. Query facilities usage by member")
        recommended_by(conn)
 
if __name__ == '__main__':
    main()

2.6.0
12. Query facilities usage by member
Column Names: ['facility_name', 'member_usage']
('Badminton Court', 344)
('Massage Room 1', 421)
('Massage Room 2', 27)
('Pool Table', 783)
('Snooker Table', 421)
('Squash Court', 195)
('Table Tennis', 385)
('Tennis Court 1', 308)
('Tennis Court 2', 276)